.game-type__option {
    display: block;
    text-align: center;
}

.game-type__option-label {
    font-size: 14px;
    margin-top: 8px;
    font-weight: 300;
}

.game-type__divider {
    width: 20px;
    opacity: 0;
}

.btn-light {
    color: white;
    background-color: lightblue;
}

.btn-light:hover {
    color: lightblue;
}